@import "variables";
.recipe-card {
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  @media (max-width: 780px) {
  }
  .favorite {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1019607843);
    top: 15px;
    right: 15px;
    i {
      font-size: 15px;
      color: $light-black;
      transform: translateY(1px);
      &.fav {
        color: $bold-orange;
        animation: favanimation 0.3s ease-in-out;
      }
    }
  }
  .image-wrapper {
    width: 100%;
    height: 245px;
    object-fit: cover;
    background-position: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .description {
    padding: 10px;
    display: flex;
    height: 75px;
    flex-direction: column;
    row-gap: 5px;
    background: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: 1px solid $recipe-card-border;
    border-left: 1px solid $recipe-card-border;
    border-right: 1px solid $recipe-card-border;
    @media (max-width: 780px) {
      height: auto;
    }
    h4 {
      color: $bold-orange;
    }
    p {
      color: $light-black;
      font-size: 15px;
    }
  }
}

@keyframes favanimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
