@import "variables";
.recipe-card {
  width: 100%;
  height: 320px;
  border: 1px solid #dfe7ef;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  .image-wrapper {
    width: 100%;
    height: 245px;
    object-fit: cover;
    background-position: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .description {
    padding: 10px;
    display: flex;
    height: 75px;
    flex-direction: column;
    row-gap: 5px;
    background: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    h4 {
      color: $bold-orange;
    }
    p {
      color: $light-black;
      font-size: 15px;
    }
  }
}
