@import "variables";
.recipe-card {
  width: 100%;
  border: 1px solid #dfe7ef;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  .image-wrapper {
    width: 100%;
    height: 245px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-repeat: no-repeat;
    background-image: url("https://assets.epicurious.com/photos/678e76a9643646c90ace2219/1:1/w_1920,c_limit/passion%20fruit%2030.jpg");
  }
  .description {
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    background: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    h4 {
      color: $bold-orange;
    }
    p {
      color: $light-black;
      font-size: 15px;
    }
  }
}
