@import "variables";

@font-face {
  font-family: "REW";
  src: url("../assets/fonts/REW-Regular.woff2") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "REW";
  src: url("../assets/fonts/REW-Medium.woff2") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "REW";
  src: url("../assets/fonts/REW-Bold.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: $light-gray;
}

::-webkit-scrollbar {
  overflow: visible;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-style: solid;
  border-color: transparent;
  border-width: 4px;
  background-color: #dadce0;
  border-radius: 8px;
  box-shadow: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "REW", sans-serif;
  border-style: none;
  text-decoration: none;
  outline-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}


.btn-primary, .btn-secondary {
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  background: transparent;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  column-gap: 8px;
  i {
    font-size: 12px;
    color: white;
  }
  h4 {
    font-size: 15px;
  }
}

.btn-secondary {
  background-color: #e3e5ea;
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
    background-color: #d6d8dd;
  }
  h4 {
    color: $light-black;
  }
}

.btn-primary {
  background: $bold-orange;
  h4 {
    color: white;
  }
}

.no-border {
  border: 0 !important;
}

input.ng-invalid.ng-touched {
  border: 1px solid red !important;
}

textarea.ng-invalid.ng-touched {
  border: 1px solid red !important;
}

.invalid-input {
  border: 1px solid red !important;
}

.invalid-image {
  border: 1px dashed red !important;
  i {
    color: red !important;
  }
  h4 {
    color: red !important;
  }
  span {
    color: red !important;
  }
}

.error {
  display: flex;
  column-gap: 5px;
  span {
    color: red;
    font-size: 12px;
  }
  img {
    width: 12px;
    height: 12px;
  }
}

