.recipes-section {
  width: 100%;
  padding-top: 30px;
  .recipes-items {
    display: grid;
    grid-template-columns: 1fr;
    .title {
      display: flex;
      justify-content: center;
      h1 {
        font-size: 45px;
      }
    }
  }
}
