@import "variables";


.recipes-section {
  width: 100%;
  padding-top: 90px;
  @media (max-width: 780px) {
    padding-top: 70px;
  }
  .recipes-items {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 35px;
    .recipes-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 30px;
      grid-row-gap: 30px;
      padding-bottom: 20px !important;
      @media (max-width: 1205px) {
        grid-template-columns: 1fr 1fr;
        padding: 0 20px;
      }
      @media (max-width: 600px) {
        grid-template-columns: 1fr;
      }
    }
  }
}

.alert-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  h3 {
    font-size: 16px;
    color: $light-black;
    font-weight: normal;
  }
  img {
    width: 150px;
    height: 150px;
  }
}

