@import "variables";

.filter-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  row-gap: 10px;
  .button-wrapper {
    width: 100%;
    display: flex;
    justify-content: end;
    @media (max-width: 780px) {
      button {
        width: 100%;
      }
    }
  }
  @media (max-width: 1205px) {
    padding: 0 20px;
  }
  @media (max-width: 780px) {
    flex-direction: column;
  }
  .filters {
    display: flex;
    align-items: center;
    column-gap: 15px;
    row-gap: 10px;
    @media (max-width: 780px) {
      flex-direction: column;
      input {
        width: 100% !important;
      }
    }
    input {
      padding: 10px 15px;
      background: white;
      width: 250px;
      border: 1px solid $border-light;
      border-radius: 10px;
      transition: 0.3s;
      color: $light-black;
      &::placeholder {
        font-size: 14px;
      }
      &:focus {
        border-color: $bold-orange;
      }
      &:hover {
        border-color: $bold-orange;
        transition: 0.3s;
      }
    }
  }
}
