<section class="recipe-details-section">
  <div class="container">
    <div class="recipe-details-items">
      <h3 class="recipe-title">სკუმბრია</h3>
      <div class="recipe-wrapper">
        <div class="recipe-image"></div>
         <p class="description">
           მწვანე ლობიო დავამტვრიოთ სასურველ ზომაზე, ჩავყაროთ ქვაბში, დავამატოთ კანგაცლილი და
           დაჭრილი პომიდორი. ზეთში მოვხრაკოთ წვრილად დაჭრილი ხახვი და ნიორი, შევურიოთ
           პომიდორი და ლობიო, მოვაყაროთ სუნელები, დავასხათ ბულიონი და წითელი ღვინო და
           ყველაფერი ერთად ვშუშოთ ნელ ცეცხლზე 20-25 წთ.
         </p>
      </div>
      <div class="ingredient-items">
         <div class="title">
           <h4>Ingredients</h4>
         </div>
        <ul class="ingredient-list">
            <li>1½ cups (350 g) passion fruit pulp</li>
            <li>6 Tbsp. (85 g) cold unsalted butter, cut into 4 pieces</li>
            <li>6 Tbsp. (85 g) cold unsalted butter, cut into 4 pieces</li>
            <li>6 Tbsp. (85 g) cold unsalted butter, cut into 4 pieces</li>
            <li>6 Tbsp. (85 g) cold unsalted butter, cut into 4 pieces</li>
            <li>6 Tbsp. (85 g) cold unsalted butter, cut into 4 pieces</li>
        </ul>
      </div>
    </div>
  </div>
</section>
