<section class="recipe-details-section" *ngIf="recipe">
  <div class="container">
    <div class="recipe-details-items">
      <div class="option-items">
        <h3 class="recipe-title">{{recipe.recipeTitle}}</h3>
        <div class="options">
          <div class="option" (click)="addToFavorites()" *ngIf="!recipe.favorite">
            <i class="pi pi-heart"></i>
          </div>
          <div class="option" (click)="removeFromFavorites()" *ngIf="recipe.favorite">
            <i class="pi pi-heart-fill fav"></i>
          </div>
          <div class="option" routerLink="../../recipe-edit/{{recipe.id}}">
            <i class="pi pi-pencil"></i>
          </div>
          <div class="option" (click)="openDeleteConfirmationDialog(deleteConfirmation)">
            <i class="pi pi-trash"></i>
          </div>
        </div>
      </div>
      <div class="recipe-wrapper">
        <img [src]="recipe.recipeImage" class="recipe-image">
         <p class="description">
           {{recipe.recipeDescription}}
         </p>
      </div>
      <div class="recipe-items-wrapper">
        <div class="recipe-items">
          <div class="title">
            <h4>ინგრედიენტები</h4>
          </div>
          <ul class="ingredient-list">
            <li *ngFor="let ingredient of recipe.recipeIngredients">
              - {{ingredient.ingredient}}
            </li>
          </ul>
        </div>
        <div class="recipe-items">
          <div class="title">
            <h4>მომზადება</h4>
          </div>
          <ul class="instruction-steps">
            <li class="step" *ngFor="let instruction of recipe.recipeInstructions; let i = index">
              <h4>ეტაპი {{i + 1}}</h4>
              <p [innerHTML]="instruction.step"></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<ng-template #deleteConfirmation>
  <div class="delete-confirmation">
    <div class="confirmation-title">
      <i class="pi pi-exclamation-circle"></i>
      <p class="title">დარწმუნებული ხართ რომ გსურთ რეცეპტის წაშლა?</p>
    </div>
    <div class="button-wrapper">
      <button class="btn-secondary" mat-dialog-close matRipple><h4>გაუქმება</h4></button>
      <button class="btn-primary" matRipple mat-dialog-close (click)="deleteRecipe()"><h4>წაშლა</h4></button>
    </div>
  </div>
</ng-template>
